@media screen and (min-width: 480px) {
  /**********************************
Header Styling
***********************************/

.keyboard-header-image{
  background: url('../images/keyboard_700.png')no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;

}
.css-concept-image{
  background: url('../images/keyboard_700.png')no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 400px;
}
.header-overlayer{
  background: rgba(0,0,0, 0.7);
  height: 400px;
}

header h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}
.nav-links:hover{
  text-decoration: underline;
}
.navigation-list-underline{
  text-decoration: underline;
}

li{
  display: inline-block;
  font-size: 20px;
  padding: 6px;
}
section{
  padding-top: 60px;
}


.type{
  font-family: 'Libre Baskerville', serif;
  font-size: 23px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}
.time{
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}


/**********************************
Main Styling
***********************************/
.alignment{
  text-align: left;
  font-size: 16px;
  padding: 10px;
  margin: 8px;
  line-height: 2.4em;
  color: #767676;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
}
.alignment p{
  margin: 20px;
}

.sub-title{
  font-family: 'Libre Baskerville', serif;
  padding: 40px 20px 20px 20px;
  font-size: 20px;
  color: #000;
}

.sub-title p{
  margin-top: -10px;
  margin-bottom: -20px;
}

.within-text-image{
  margin: 0 auto;
  margin: 10px;
  width: 300px;
}

.alignment button{
  padding: 15px 30px 15px 30px;
}
/**********************************
Footer
***********************************/
.rights-reserved{
  padding-top: 60px;
}

footer nav ul li:nth-last-child(1){
border:none;
}
}

@media screen and (min-width: 660px) {


 /**********************************
Header Styling
***********************************/

.keyboard-header-image{
 background: url('../images/keyboard_1280.png')no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 550px;

}
.css-concept-image{
  background: url('../images/keyboard_1280.png')no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.header-overlayer{
  background: rgba(0,0,0, 0.7);
  height: 550px;
}


.nav-links:hover{
  text-decoration: underline;
}
.navigation-list-underline{
  text-decoration: underline;
}


section{
  text-align: center;
  padding-top:7em;
}


.type{
  font-family: 'Libre Baskerville', serif;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
}
.time{
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
/**********************************
Main Styling
***********************************/

.alignment{
  text-align: left;
  font-size: 16px;
  padding: 10px;
  margin: 8px;
  line-height: 2.4em;
  color: #767676;
  padding-bottom: 25px;
  border-bottom: 1px solid #dcdcdc;
}

.alignment p{
  padding-bottom: 20px;
  margin-right: 10;0px;
}
.blog-image{
  background: url('../images/keyboard_1280.png')no-repeat center center;
  background-size: cover;
  width: 40em;
  margin: 0 auto;
  height: 400px;

}
.within-text-image{
  float: left;
  margin-left: 10%;
  width: 300px;
}

.background-overlayer-2{
  background: rgba(0,0,0, 0.4);
  height: 400px;
}

.alignment button{
  margin-top: -10px;
}
.within-text-image{
  float: left;
  margin: 10px;
  width: 300px;
}

/**********************************
Footer Styling
***********************************/
footer nav ul li:nth-last-child(1){
border:none;
}

}
