<!doctype html>
<html lang="en-us" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Brian Bier | Full Stack Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div id="app">
    <header>
      <div class="header-wrapper">
        <h1>Brian Bier Full Stack Developer</h1>
        <h1>+ Programming Guru</h1>
        <div class="references">
          <p>Projects:</p>
          <ul>
            <li>
              <a @click.prevent="openModal('cgc-therapy')" href="#">Common Ground Couseling Marriage & Family Therapy LLC</a>
            </li>
            <li>
              <a @click.prevent="openModal('coast-guard-foundation')" href="#">Coastguard Foundation</a>
            </li>
            <li>
              <a @click.prevent="openModal('peconic-land-trust')" href="#">Peconic Land Trust</a>
            </li>
            <li>
              <a @click.prevent="openModal('eyetoeye')" href="#">eyetoeye</a>
            </li>
            <li>
              <a @click.prevent="openModal('sasha-ostojic')" href="#">Sasha Ostojic</a>
            </li>

          </ul>
        </div>
        <b class="blue-line"></b>
        <img class="head-logo" src="images/brianbier-logo.png" alt="Brian Bier Full Stack Developer" width="111" height="110">
        <p class="more-examples">
          <a href="../../index.html">keep in touch</a>
        </p>
        <div class="contact-details">
          <p>
            If you're looking for a Full Stack Developer for your next project,
            <a class="email" href=""> Let's meet up.</a>
          </p>
        </div>
        <div class="footer-reserve">
          <p>
            © 2015-2018 Brian Bier. All rights reserved.
          </p>
        </div>
      </div>
    </header>
    <main v-if="modalVisable">
      <section>
        <h1>{{ selectedProject.title }}</h1>
        <h2>
          <span></span>
          <span>{{ selectedProject.subHeading }}</span>
        </h2>
        <p class="description">{{ selectedProject.description }}</p>
        <a :href="selectedProject.link" class="price">{{ selectedProject.linkText}}</a>
        <div class="location">
          <h3>
            Techologies:
          </h3>
          <ul>
            <li v-for="tech in selectedProject.tech">
             {{ tech }}
            </li>
          </ul>
          
        </div>
        <span class="close" @click="closeModal">&#215;</span>
        <div class="featured-image" :style="{ 'background-image': 'url('+ selectedProject.image +')' }">
        </div>
      </section>
    </main>
  </div>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="scripts/app.js"></script>
</body>