<!doctype html>
<html lang="en-us" dir="ltr">
<!-- Site by Brian Bier
    ____         _                  ____   _            
   / __ ) _____ (_)____ _ ____     / __ ) (_)___   _____
  / __  |/ ___// // __ `// __ \   / __  |/ // _ \ / ___/
 / /_/ // /   / // /_/ // / / /  / /_/ // //  __// /    
/_____//_/   /_/ \__,_//_/ /_/  /_____//_/ \___//_/     

www.brianbier.co -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="images/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Brian Bier">
  <meta name="application-name" content="Brian Bier">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/mstile-144x144.png">
  <meta name="msapplication-config" content="images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <meta name="google-site-verification" content="O6eZNwcCzkk4lqQu2WDQ5UZH8DihDUFEpqKUtIGF4_U" />
  <meta name="msvalidate.01" content="F1BC6E5582EBBE74045D7A040F092AAE" />
  <meta name="application-name" content="&nbsp;">
  <meta name="keywords" content="Full Stack,Developer,Freelance,NewYork,Cheap,Web Development,Website,Web Design,Programmer,UX/UI,SEO">
  <meta name="description" content="I provide the highest quality of service when designing and building beautiful websites. I focus in developing application tools that matter to my clients and their audiences.">
  <meta name="author" content="Brian Bier - http://www.brianbier.co/">
  <link rel="canonical" href="http://brianbier.co/">
  <link rel="alternate" hreflang="en-us" href="http://brianbier.co/">
  <meta name="geo.region" content="NY">
  <meta name="geo.placename" content="Brian Bier">
  <!-- Dublin Core Metadata -->
  <meta name="dcterms.Identifier" content="http://brianbier.co/">
  <meta name="dcterms.Format" content="text/html">
  <meta name="dcterms.Relation" content="Brian Bier">
  <meta name="dcterms.Language" content="en">
  <meta name="dcterms.Publisher" content="Brian Bier">
  <meta name="dcterms.Type" content="text/html">
  <meta name="dcterms.Coverage" content="http://brianbier.co/">
  <meta name="dcterms.Rights" content="Copyright ©2016 Brian Bier All rights reserved.">
  <meta name="dcterms.Title" content="">
  <meta name="dcterms.Creator" content="Brian Bier">
  <meta name="dcterms.Subject" content="Web developer, Full Stack Developer, Programmer,Designer,UX/UI">
  <meta name="dcterms.Contributor" content="Brian Bier">
  <meta name="dcterms.Date" content="{{ date | date:'yyyy-MM-dd'}}">
  <meta name="dcterms.Description" content="I provide the highest quality of service when designing and building beautiful websites. I focus in developing application tools that matter to my clients and their audiences.">
  <!-- Facebook SEO -->
  <meta property="fb:app_id" content="315803232100484" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_us" />
  <meta property="og:url" content="http://www.brianbier.co/" />
  <meta property="og:title" content="Brian Bier Full Stack Developer" />
  <meta property="og:description" content="I provide the highest quality of service when designing and building beautiful websites. I focus in developing application tools that matter to my clients and their audiences."
  />
  <meta property="og:image" content="/images/brianbier-logo.png" />
  <meta property="og:site_name" content="Brian Bier Full Stack Developer" />
  <meta property="og:see_also" content="https://twitter.com/briansbier" />
  <meta property="og:see_also" content="https://www.facebook.com/profile.php?id=100000560161067" />
  <!-- Twitter SEO -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@briansbier" />
  <meta name="twitter:creator" content="@briansbier" />
  <meta name="twitter:title" content="Brian Bier Full Stack Developer" />
  <meta name="twitter:description" content="I provide the highest quality of service when designing and building beautiful websites. I focus in developing application tools that matter to my clients and their audiences."
  />
  <meta name="twitter:image" content="/images/brianbier-logo.png" />
  <!-- Humans.txt authorship http://humanstxt.org -->
  <link type="text/plain" rel="author" href="/humans.txt" />
  <title>Brian Bier | Full Stack Developer</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <script data-ad-client="ca-pub-1586748285793071" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
  <div id="app">
    <header :class="[ modalVisable ? 'overflow-hidden': '' ]">
      <div class="header-wrapper">
        <h1>Brian Bier Full Stack Developer</h1>
        <h1>+ Salesforce Developer</h1>
        <div class="references">
          <p>Projects:</p>
          <ul>
            <li>
              <a @click.prevent="openModal('eyetoeye')" target="_blank" href="#">eyetoeye</a>
            </li>
            <li>
              <a @click.prevent="openModal('coast-guard-foundation')" target="_blank" href="#">Coastguard Foundation</a>
            </li>
            <li>
              <a @click.prevent="openModal('peconic-land-trust')" target="_blank" href="#">Peconic Land Trust</a>
            </li>
            <li>
              <a @click.prevent="openModal('sasha-ostojic')" target="_blank" href="#">Sasha Ostojic</a>
            </li>
            <li>
              <a @click.prevent="openModal('cgc-therapy')" target="_blank" href="#">Common Ground Couseling Marriage & Family Therapy LLC</a>
            </li>

          </ul>
        </div>
        <b class="blue-line"></b>
        <img class="head-logo" src="images/brianbier-logo.png" alt="Brian Bier Full Stack Developer">
        <div class="certs">
          <a href="https://trailblazer.me/id/brian-bier" target="_blank">
          <img class="cert-width" src="images/SFU_CRT_BDG_Pltfrm_Dev_I_RGB.png" alt="Salesforce Platform Developer 1 Certificate">
        </a>
        <a href="https://trailblazer.me/id/brian-bier" target="_blank">
          <img class="cert-width" src="images/SFU_CRT_BDG_Admin_RGB.png" alt="Salesforce Admin Certificate">
        </a>
        </div>
        
        <p class="keep-in-touch">
          <span>Contact: </span>
          <a href="https://www.linkedin.com/in/brianbier">
            <i class="fab  fa-xs fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/brianbier">
            <i class="fab fa-xs fa-github-alt"></i>
          </a>
        </p>
        <div class="contact-details">
          <p>
            If you're looking for a Full Stack Developer or Salesforce Developer for your next project,
            <a class="email" href="https://www.linkedin.com/in/brianbier"> Let's connect.</a>
          </p>
        </div>
        <div class="footer-reserve">
          <p>
            &copy; 2015-2021 Brian Bier. All rights reserved.
          </p>
        </div>
      </div>
    </header>
    <main>
      <transition name="fade">
        <div class="overlayer" v-if="modalVisable" :class="[ modalVisable ? 'visable': '' ]" @click="closeModal"></div>
      </transition>
      <div class="main-wrapper" :class="[ modalVisable ? 'visable': '' ]">
        <div class="container">
          <transition name="slide-fade">
            <section v-if="modalVisable" :class="[ modalVisable ? 'visable': '' ]">
              <a target="_blank" :href="selectedProject.link" class="heading">
                <h1>
                  {{ selectedProject.title }}
                </h1>
                <i class="fas external-link fa-xs fa-external-link-alt"></i>
              </a>
              <p class="description">{{ selectedProject.description }}</p>
              <div class="link">
                <a target="_blank" :href="selectedProject.link">{{ selectedProject.linkText}}</a>
              </div>
              <div class="tech">
                <h3>
                  Techologies:
                </h3>
                <ul>
                  <li v-for="tech in selectedProject.tech">
                    {{ tech }}
                  </li>
                </ul>
              </div>
              <div class="close">
                <a @click.prevent="closeModal" href="#">&#215;</a>
              </div>
              <a target="_blank" class="featured-image" :href="selectedProject.link">
                <img class="image" :src="selectedProject.image" width="433" alt="">
              </a>
            </section>
          </transition>
        </div>
      </div>

    </main>
  </div>
  <div id="particles-js"></div>
  <script async="" src="https://www.google-analytics.com/analytics.js"></script>
  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-78055658-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  <script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', 'particles.json', function () {
      console.log('callback - particles.js config loaded');
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- dev mode 
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  -->
  <script src="scripts/app.js"></script>
  
</body>